@import '../../../scss/color';

.app__layout-dashboard {
  height: 100%;
  width: 100%;
  background-color: $gray;
  display: flex;
  flex-direction: row;
  position: relative;

  &__sitemap {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: $orange;
  }
}

.app__layout-dashboard__counter {
  flex: 1;
  height: inherit;
  padding: 100px 30px 30px 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: scroll;

  .counter-label {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $orange;
  }
  .counter-cards {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;

    &__card {
      height: 120px;
      flex: 1;
      border-radius: 10px;
      background-color: $background;
      box-shadow: 2px 2px 15px 0px $gray;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      padding: 8px 12px;
      box-sizing: border-box;

      .row {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        .image {
          height: 48px;
          width: 48px;
          background-color: rgba($color: #6695fb, $alpha: 0.15);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .label {
          max-width: 60px;
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
        }
        .count {
          font-size: 30px;
          font-weight: 700;
          line-height: 45px;
        }

        .diff {
          margin-left: auto;
          height: 15px;
          width: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;

          font-size: 8px;
          font-weight: 400;
          line-height: 12px;
        }

        .raise {
          background-color: rgba($color: $orange, $alpha: 0.15);
        }
        .drop {
          background-color: rgba($color: red, $alpha: 0.15);
        }
      }
    }
  }
  .counter-chart {
    width: 100%;
    height: 790px;
    border-radius: 10px;
    background-color: $background;
    box-shadow: 2px 2px 15px 0px $gray;
    padding: 24px;
    box-sizing: border-box;
  }
}
