@import '../../../../scss/color';
.detail-queue {
  height: 1000px;
  width: 100%;

  &__container {
    height: fit-content;
    min-height: 550px;
    width: 100%;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: $background;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;

    .form-label {
      height: 30px;
      width: 165px;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      color: #ff9138;
    }
    .row {
      height: fit-content;
      padding: 8px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;

      .flex-1 {
        flex: 1;
      }
    }
  }
}

.title {
  height: 36px;
  width: 172px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: $orange;
  padding-top: 25px;
}
