@import '../../../../scss/color';

.new-device {
  height: 1000px;
  width: 100%;
}

.title {
  height: 36px;
  width: 172px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: $orange;
  padding-top: 25px;
}

.container {
  height: 550px;
  width: 1152px;
  padding: 16px 24px;
  border-radius: 16px;
  background-color: $background;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;

  .form-label {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: $orange;
  }
  .row {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .app__text-box__label {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.note {
  height: 21px;
  width: 195px;
  padding-left: 24px;
  padding-top: 45px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.btn__bottom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  :hover {
    cursor: pointer;
  }
  .cancel {
    height: 48px;
    width: 147px;
    margin-left: 400px;
    border-radius: 8px;
  }
  .add__device {
    height: 48px;
    width: 147px;
    margin-left: 32px;
    border-radius: 8px;
  }
}
