@import '../../../../scss/color';
@import '../../../../scss/calendar';
.new-report {
  height: 1000px;
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
  

  &__container {
    height: fit-content;
    width: 100%;
    padding: 16px 24px;
  }
}

.add-device-btn {
  position: fixed;
  height: 94px;
  width: 80px;
  right: 0;
  top: 244px;
  background-color: rgba($color: $orange, $alpha: 0.2);
  border-radius: 7.5px 0 0 7.5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $orange, $alpha: 0.7);
    span {
      color: $background;
    }
  }

  span {
    width: inherit;
    height: fit-content;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: $orange;
  }
}